@model School.Models.StudentCheck
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">School system</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="Home/Index">Index</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="Insertstudent">Add Student</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="ListStudents">List of Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="Indexed">List of Students SQL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="Admin">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <meta name="viewport" content="width=device-width" />
    <title>Students</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>School attending service</h3>
        <a class="btn btn-primary" asp-action="InsertStudent">Add student</a>
        <a class="btn btn-primary" asp-action="ListStudents">See students</a>
    </div>
</body>
</html>